{% extends 'base.html' %}
{% block content %}
<h2>Daftar Akun</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

<form method="POST" action="{{ url_for('auth.register') }}">
    <div class="mb-3">
        <label>Username</label>
        <input name="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Password</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <button class="btn btn-success">Daftar</button>
</form>
{% endblock %}
